@keyframes slideDown {
  from {
    top: -50%;
    opacity: 0;
  }
  to {
    top: 25%;
    opacity: 1;
  }
}

@keyframes delayBlur {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(11px);
  }
}

@keyframes removeDelayBlur {
  from {
    filter: blur(11px);
  }
  to {
    filter: blur(0);
  }
}

.hidden {
  display: none;
}

.delay-blur {
  animation: delayBlur 1s;
  animation-fill-mode: forwards;
}

.remove-delay-blur {
  animation: removeDelayBlur 1s;
  animation-fill-mode: forwards;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: lightblue;
}

main {
  width: 100vw;
  min-height: 100vh;
}

dialog.start-game {
  width: 500px;
  height: 275px;
  margin: auto;
  border: none;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  padding: 10px 0;
  text-align: center;
  z-index: 5;
  transition: all 3s;
  animation: slideDown 1s;
  animation-fill-mode: forwards;
}

form.start-game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

form.start-game > * {
  padding: 15px 5px;
  font-weight: 600;
  width: 50%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

input::placeholder {
  color: #000000;
}

form.start-game > input[type="submit"] {
  background-color: rgb(84, 105, 212);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

#game-board {
  width: 500px;
  height: 500px;
  margin: auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

canvas {
  width: 100%;
  height: 100%;
  border-bottom: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
}

#b3,
#b6,
#b9 {
  border-right: none;
}

#b7,
#b8,
#b9 {
  border-bottom: none;
}
